# node modules and config files are ignored
/node_modules

# node dependency version is not required to this project
package-lock.json

# ignore hugo generated
/public/**
/resources/**
.hugo_build.lock

# ignore vscode configuration
/.vscode