@charset "UTF-8";

/**************
    layout
***************/
header {
    height: 4vh;
}

main {
    height: 92vh;
    display: flex;
}

aside {
    flex: 0 1 20vw;
}

article {
    flex: 0 1 80vw;
}

footer {
    height: 4vh;
}

/**************
    Styling
***************/

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #282C34;
    font-size: calc(1vh + 1vw);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow: hidden;
}

/*** Header ***/
header {
    font-size: 8pt;
    color: white;
    border-bottom: 1pt solid rgb(59, 59, 59);
}

header div {
    vertical-align: middle;
    text-align: center;
    line-height: 4vh;
    height: 100%;
}

header div.header_left {
    float: left;
    position: relative;
    left: 5pt;
    top: 0pt;
}

header div.header_left img.logo {
    height: 100%;
}

/*** sidebar ***/
aside {
    border-right: 1pt solid rgb(59, 59, 59);
}

ul.sidebar-list > li.dir {
    padding-left: 10pt;
    padding-top: 10pt;
    color: grey;   
}

ul.sidebar-list > li.dir > span.dir-text {
    cursor: pointer;
    margin-left: 5pt;
}

ul.sidebar-list > li.dir > span.dir-text:hover {
    color: white;
}

ul.sidebar-list > li.closed-dir::before {
    content: ' ';
    border-color: white;
    border-width: 1pt 1pt 0 0;
    border-style: solid;
    padding: 3pt;
    transform: rotate(45deg);
    display: inline-block;
}

ul.sidebar-list > li.closed-dir > ul {
    display: none;
}

ul.sidebar-list > li.open-dir::before {
    content: ' ';
    border-color: white;
    border-width: 1pt 1pt 0 0;
    border-style: solid;
    padding: 3pt;
    transform: rotate(135deg);
    display: inline-block;
}

ul.sidebar-list > li.file {
    padding-left: 5pt;
    padding-top: 7pt;
    color: grey;
}

ul.sidebar-list > li.file i {
    padding-left: 5pt;
}

ul.sidebar-list > li > a {
    cursor: pointer;
}

ul.sidebar-list > li > a:hover {
    color: white !important;
}

/* dir in nested subdir*/
ul.sidebar-list ul.sidebar-list > li.dir {
    padding-left: 18pt;
}

/* file in nested subdir*/
ul.sidebar-list ul.sidebar-list > li.file {
    padding-left: 10pt;
}


/*** main content ***/
article.main {
    text-align: left;
    color: #c6c6c7;

    padding: 3vw;
    overflow-y: auto;
}

article.main > div.title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15pt;
}

article.main > div.title > h1.title-header {
    flex: 0 0 auto;

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

article.main > div.title > div.author-date-readtime {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: .9rem;
    color: #939bab;
}

article.main > div.title > div.author-date-readtime > div:not(:last-child) {
    padding-bottom: 5pt;
}

article.main > div.article-meta {
    color: #939bab;
    font-size: 1rem;
}

article.main > div.article-meta > div {
    padding-bottom: 20pt;
}

article.main > div.article-meta a {
    padding: 2pt 10pt;
    margin: 0pt 5pt;
    border-radius: 10px;
    color: #fff;
}

article.main > div.article-meta a.cat-btn {
    background: #2f5292;
}

article.main > div.article-meta a.cat-btn:hover {
    background: #5779b9;
}

article.main > div.article-meta a.tag-btn {
    background: #327e5e;
}

article.main > div.article-meta a.tag-btn:hover {
    background: #479775;
}

article.main > div.article-meta a.bread-btn {
    color: #99a1ff;
    padding-left: 5pt;
    padding-right: 5pt;
}

article.main > nav#TableOfContents ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 20px;
    font-size: 12pt;
}

article.main > nav#TableOfContents ul ul {
    list-style-type: circle;
}

article.main > nav#TableOfContents ul ul ul {
    list-style-type: square;
}

article.main > nav#TableOfContents li {
    margin: 5pt 0pt;
}

article.main > nav#TableOfContents a {
    color: #337ab7;
}

article.main > nav#TableOfContents a:hover {
    color: #4398e5;
    text-decoration: underline;
}

/*** footer ***/
footer {
    font-size: 10pt;
    color: grey;
    border-top: 1pt solid rgb(59, 59, 59);
    padding: 0 3pt;
    display: flex;
    justify-content: space-between;
}

footer > div {
    display: inline;
    flex: 0 0 auto;
}

footer > div > ul {
    display: flex;
    height: 100%;
    align-items: stretch;
}

footer > div > ul > li {
    flex: 0 0 auto;
    padding: 0 5pt;
    
    display: inline-flex;
    align-items: center;
    cursor: default;
}

footer > div > ul > li:hover {
    background-color: rgb(65, 65, 65);
    color: rgb(150, 150, 150);
}

footer > div.footer-left > ul {
    justify-content: flex-start;
}

footer > div.footer-right > ul {
    justify-content: flex-end;
}