@charset "UTF-8";

/**************
    layout
***************/
body {
    height: 100vh;
    max-height: 100vh;
}

header {
    height: 3%;
}

main {
    height: 94%;
    display: flex;
}

aside.sidebar {
    width: 15%;
}

article {
    /*
        3pt: expand bar
        4%: <article> padding
        1px: dummpy
    */
    width: calc(85% - 3pt - 4% - 1px);
}

footer {
    height: 3%;
}

/**************
    Styling
***************/

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #282c34;
    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden;
}

/*** Header ***/
header {
    font-size: 8pt;
    color: white;
    border-bottom: 1pt solid rgb(59, 59, 59);
}

header div {
    vertical-align: middle;
    text-align: center;
    line-height: 3vh;
    height: 100%;
}

header div.header_left {
    float: left;
    position: relative;
    left: 5pt;
    top: 0pt;
}

header div.header_left img.logo {
    height: 100%;
}

/*** sidebar ***/
aside.exapandable {
    width: 3pt;
    background-color: rgb(59, 59, 59);
    cursor: col-resize;
}

aside.exapandable:hover {
    background-color: rgb(99, 99, 99);
}

ul.sidebar-list > li.dir {
    padding-left: 10pt;
    padding-top: 10pt;
    color: grey;
}

ul.sidebar-list > li.dir > span.dir-text {
    cursor: pointer;
    margin-left: 5pt;
}

ul.sidebar-list > li.dir > span.dir-text:hover {
    color: white;
}

ul.sidebar-list > li.closed-dir::before {
    content: " ";
    border-color: white;
    border-width: 1pt 1pt 0 0;
    border-style: solid;
    padding: 3pt;
    transform: rotate(45deg);
    display: inline-block;
    position: relative;
    bottom: 1pt;
}

ul.sidebar-list > li.closed-dir > ul {
    display: none;
}

ul.sidebar-list > li.opened-dir::before {
    content: " ";
    border-color: white;
    border-width: 1pt 1pt 0 0;
    border-style: solid;
    padding: 3pt;
    transform: rotate(135deg);
    display: inline-block;
    position: relative;
    bottom: 3pt;
}

ul.sidebar-list > li.file {
    padding-left: 5pt;
    padding-top: 7pt;
    color: grey;
}

ul.sidebar-list > li.file i {
    padding-left: 5pt;
}

ul.sidebar-list > li > a {
    cursor: pointer;
}

ul.sidebar-list > li > a:hover {
    color: white !important;
}

/* dir in nested subdir*/
ul.sidebar-list ul.sidebar-list > li.dir {
    padding-left: 18pt;
}

/* file in nested subdir*/
ul.sidebar-list ul.sidebar-list > li.file {
    padding-left: 10pt;
}

/*** main content ***/
article.main {
    text-align: left;
    color: #c6c6c7;
    padding: 2%;
    overflow-y: auto;
}

article.main > button.sidebar-toggle-btn {
    display: none;
}

article.main > div.title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15pt;
}

article.main > div.title > h1.title-header {
    flex: 0 0 auto;

    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

article.main > div.title > div.author-date-readtime {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.9rem;
    color: #939bab;
}

article.main > div.title > div.author-date-readtime > div:not(:first-child) {
    padding-top: 1em;
}

article.main > div.title > div.author-date-readtime > div.author:hover {
    color: white;
}

article.main > div.article-meta {
    color: #939bab;
    font-size: 1rem;
    margin-top: -2em;
}

article.main > div.article-meta > div:only-child {
    padding-top: 20pt;
}

article.main > div.article-meta a {
    padding: 2pt 10pt;
    margin: 0pt 5pt;
    border-radius: 10px;
    color: #fff;
}

article.main > div.article-meta > div.categories > a.cat-btn {
    background: #2f5292;
}

article.main > div.article-meta > div.categories > a.cat-btn:hover {
    background: #5779b9;
}

article.main > div.article-meta > div.tags > a.tag-btn {
    background: #327e5e;
}

article.main > div.article-meta > div.tags > a.tag-btn:hover {
    background: #479775;
}

article.main > div.article-meta > div:where(.categories, .tags) > a {
    line-height: 3em;
}

article.main > div.article-meta > div.breadcumb > a.bread-btn {
    color: #99a1ff;
    padding-left: 5pt;
    padding-right: 5pt;
}

article.main > div.article-meta > div.breadcumb > a.bread-btn {
    line-height: 1.5em;
}

article.main > hr {
    border-color: #5c5e60;
    border-width: 1pt;
    margin-bottom: 25pt;
}

article.main > nav#TableOfContents {
    margin-bottom: 20pt;
}

article.main > nav#TableOfContents ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 20px;
}

article.main > nav#TableOfContents ul ul {
    list-style-type: circle;
}

article.main > nav#TableOfContents ul ul ul {
    list-style-type: square;
}

article.main > nav#TableOfContents li {
    margin: 8pt 0pt;
}

article.main > nav#TableOfContents a {
    color: #4398e5;
}

article.main > nav#TableOfContents a:hover {
    color: #7fb8ee;
    text-decoration: underline;
}

article.main > div.list-files > ul {
    font-size: 14pt;
}

article.main > div.list-files > ul > li {
    margin-bottom: 15pt;
}

article.main > div.list-files > ul > li:hover {
    color: white;
}

article.main > div.list-files ul.sidebar-list {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}

article.main > div.list-files ul.sidebar-list ul {
    margin-left: 25px;
}

article.main > div.list-files ul.sidebar-list li {
    padding-left: 0;
}

article.main > div.list-files ul.sidebar-list li.file {
    margin-left: -5pt;
    padding-top: 10pt;
}

article.main > div.list-terms > ul {
    display: flex;
    flex-wrap: wrap;
}

article.main > div.list-terms > ul > li {
    border: 1px solid #6c6d6e;
    border-radius: 30px;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
}

article.main > div.list-terms > ul > li:hover {
    border-color: #969697;
    border-width: 2px;
    color: white;
    background-color: #727272;
}

/*** footer ***/
footer {
    font-size: 10pt;
    color: grey;
    border-top: 1pt solid rgb(59, 59, 59);
    padding: 0 3pt;
    display: flex;
    justify-content: space-between;
}

footer > div {
    display: inline;
    flex: 0 0 auto;
}

footer > div > ul {
    display: flex;
    height: 100%;
    align-items: stretch;
}

footer > div > ul > li {
    flex: 0 0 auto;
    padding: 0 5pt;
    display: inline-flex;
    align-items: center;
    cursor: default;
}

footer > div > ul > li:hover {
    background-color: rgb(65, 65, 65);
    color: rgb(150, 150, 150);
}

footer > div.footer-left > ul {
    justify-content: flex-start;
}

footer > div.footer-right > ul {
    justify-content: flex-end;
}

/* responsive style */
@media only screen and (max-width: 900px) {
    /* release the static layout*/
    body {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }

    /* sticky header */
    header {
        height: 6vh;
        position: sticky;
        top: 0px;
        width: 100%;
        font-size: 10pt;
        background-color: #282c34;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    header div {
        line-height: 6vh;
    }

    /* Slide sidebar */
    main:has(article.main > button.sidebar-toggle-btn[aria-expanded="true"]) {
        width: 130%;

        animation: slide-in 0.5s forwards;
        transform: translateX(calc(-20%));
    }

    /* remove the sidebar */
    aside:where(.exapandable, .sidebar) {
        display: none;
    }

    aside.sidebar {
        width: 30%;
        border-right: 3pt solid rgb(59, 59, 59);
    }

    /* Add some padding */
    article.main {
        padding: 4vw;

        /*
            8vw: <article> padding
            1px: dummpy
        */
        width: calc(100% - 8vw - 1px);

        /*
            6vh: header
            6vh: footer
            8vw: <article> padding
            2pt: border of header and footer
        */
        min-height: calc(100vh - 6vh - 6vh - 8vw - 2pt);
    }

    /* show the navbar button */
    article.main > button.sidebar-toggle-btn {
        background-color: #282c34;
        border: 1px solid grey;
        border-radius: 20%;
        padding: 0.2em;
        color: #c6c6c7;
        font-size: 22pt;
        line-height: 0.6em;
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }

    article.main > button.sidebar-toggle-btn:where(:hover, :active) {
        color: white;
        border-color: white;
        border-width: 2px;
    }

    /* move the position of article information */
    article.main > div.title {
        flex-direction: column;
    }

    article.main > div.title > div.author-date-readtime {
        flex-direction: row;
    }

    article.main > div.title > div.author-date-readtime > div {
        padding-top: 0;
        padding-right: 2em;
    }

    article.main > div.article-meta {
        margin-top: 0.2em;
    }

    /* re-layout the footer */
    footer {
        height: 6vh;
        font-size: 14pt;
    }

    footer > div.footer-left {
        width: 60%;
    }

    footer > div.footer-left > ul.social {
        justify-content: space-between;
    }

    footer > div.footer-right {
        display: none;
    }
}

/* responsive style */
@media only screen and (max-width: 700px) {
    /* Slide sidebar */
    main:has(article.main > button.sidebar-toggle-btn[aria-expanded="true"]) {
        width: 150%;
    }

    aside.sidebar {
        width: 50%;
    }
}

@media only screen and (max-width: 440px) {
    /* Slide sidebar */
    main:has(article.main > button.sidebar-toggle-btn[aria-expanded="true"]) {
        width: 180%;
    }

    /* Add some padding */
    article.main {
        padding: 6vw;

        /*
            8vw: <article> padding
            1px: dummpy
        */
        width: calc(100% - 12vw - 1px);

        /*
            6vh: header
            6vh: footer
            6vw: <article> padding
            2pt: border of header and footer
        */
        min-height: calc(100vh - 6vh - 6vh - 12vw - 2pt);
    }

    /* move the position of article information */
    article.main > div.title > div.author-date-readtime {
        align-items: flex-start;
        flex-direction: column;
    }

    article.main > div.title > div.author-date-readtime > div {
        padding-top: 1em;
    }

    aside.sidebar {
        width: 80%;
    }

    /* re-layout the footer */
    footer {
        height: 6vh;
        font-size: 12pt;
    }
}

/* sidebar slide-in animation */
@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
