article.main .content h1, 
article.main .content h2,
article.main .content h3, 
article.main .content h4, 
article.main .content h5, 
article.main .content h6 {
    margin: 25pt 0pt;
    font-weight: bold;

}

article.main .content h1, article.main .content h2  {
    font-size: 2rem;
}

article.main .content h1 {
    border-bottom: 1.5pt solid #5c5e60;
    padding-bottom: 10pt;
}

article.main .content h3  {
    font-size: 1.5rem;
}

article.main .content p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}

article.main .content ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
}

article.main .content ol {
    display: block;
    list-style-type: decimal;
    padding-inline-start: 40px;
}

article.main .content li {
    margin: 10pt 0pt;
}


article.main .content img {
    height: auto;
    width: 100%;
}

article.main .content em {
    font-style: italic;
}

article.main .content strong {
    font-weight: bold;
}

article.main .content del {
    text-decoration: line-through;
}

article.main .content a {
    color: #337ab7;
}

article.main .content a:hover {
    color: #4398e5;
    text-decoration: underline;
}

article.main .content hr {
    height: 0.1em;
    background-color: #525252;
    margin: 12pt 0;
    padding: 0;
    border: 0;
}

/* small code span */
article.main code {
    padding: 0.1em 0;   
    font-size: 85%;
    background-color: rgb(92 92 92);
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* large code block */
article.main div.highlight {
    margin: 10pt 0;
}

article.main div.highlight div {
    border-radius: 5pt;
}

article.main div.highlight code {
    background: none;
    border-radius: 0;
}

article.main div.highlight table {
    padding: 5pt!important;
    overflow-y: hidden!important;
}

article.main div.highlight table tr {
    border: none;
}

article.main table {
    display: block;
    width: 100%;
    overflow: auto;
    margin: 15pt 0pt;
}

article.main table tr {
    border-top: 1px solid #726f6f;
}

article.main table th {
    font-weight: bold;
}

article.main table th,
article.main table td {
    padding: 6px 13px;
    border: 1px solid #726f6f;
}

article.main table tbody tr:nth-child(2n) {
    background-color: #404040;
}

article.main .content blockquote {
    padding: 0 0.5em;
    border-left: 0.18em solid #5c5c5c;
    color: #817c7c;
}

article.main .content blockquote p {
    margin-top: .5em;
    margin-bottom: .5em;
}


:where(article.main, article.main table, article.main div.highlight table)::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(95, 94, 94);
}

:where(article.main, article.main table, article.main div.highlight table)::-webkit-scrollbar-thumb {
    background: rgb(139, 139, 139);
    border-radius: 10pt;
}