{{ if .Parent }}
    {{ partial "module/breadcrumb" .Parent }}
{{ else if not .IsHome }}
    {{ partial "module/breadcrumb" .Site.Home }}
{{ end }}

{{ if not .IsHome }}
    /
{{ end }}


<a href="{{ .Permalink }}" class="bread-btn">
    {{ if .IsHome }}
        <i class="bi bi-house-fill"></i>
    {{ else if eq .Kind "taxonomy" }}
        {{ partial "module/term_icon" . }}
    {{ end }}

    {{ if .IsHome }}
        {{ i18n "breadcrumb_home" | title }}
    {{ else }}
        {{ .Title }}
    {{ end }}
</a>
