{{ $context := .context }}
{{ $currentPage := .currentPage }}

{{ with $context }}
    {{ $page_children := where ( union .Sections .Pages ) "Kind" "page" }}
    {{ $section_children := where ( union .Sections .Pages ) "Kind" "!=" "page" }}

    {{/* show page child first than section child */}}
    {{ $children := $section_children | append $page_children }}


    <ul class="section-tree">
        {{ range $children }}
            {{ if .IsNode }}
                <li
                    {{ if .IsAncestor $currentPage }}
                        class="dir opened-dir"
                    {{ else }}
                        class="dir closed-dir"
                    {{ end }}>
                    <span class="dir-text"> {{ .Title }} </span>

                    {{ partial "module/section_tree" ( dict "context" . "currentPage" $currentPage ) }}
                </li>
            {{ else }}
                <li class="file">
                    <a href="{{ .Permalink }}" title=".{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
