{{ define "main_article" }}
    <article class="main">
        {{ partial "module/sidebar_btn" . }}


        <div class="title">
            <h1 class="title-header">{{ .Title }}</h1>
        </div>

        <div class="article-meta">
            <div class="breadcumb">
                <i class="bi bi-folder"></i>
                {{ partial "module/breadcrumb" . }}
            </div>
        </div>

        <hr />

        <div class="list-files">
            {{ partial "module/section_tree" ( dict "context" . "currentPage" . ) }}
        </div>
    </article>
{{ end }}
