{{ define "main_article" }}
    <article class="main">
        {{ partial "module/sidebar_btn" . }}


        <div class="title">
            <h1 class="title-header">
                {{ .Title }}
            </h1>

            <div class="author-date-readtime">
                {{ if isset $.Params "author" }}

                    {{ if or ( and ( not (isset $.Params "showAuthor") ) $.Site.Params.page.showAuthor ) $.Params "showAuthor" }}
                        <div class="author" title="{{ i18n "author" | title }}">
                            <i class="bi bi-person"></i>
                            <a
                                href="{{ "author" | relLangURL }}/{{ $.Params.author | urlize }}/"
                                class="cat-btn">
                                {{ $.Params.author }}
                            </a>
                        </div>
                    {{ end }}

                {{ else if isset $.Site.Params.globalFrontmatter "author" }}

                    {{ if or ( and ( not (isset $.Params "showAuthor") ) $.Site.Params.page.showAuthor ) $.Params "showAuthor" }}
                        <div class="author" title="{{ i18n "author"| title }}">
                            <i class="bi bi-person"></i>
                            <a
                                href="{{ "author" | relLangURL }}/{{ $.Site.Params.globalFrontmatter.author | urlize }}/"
                                class="cat-btn">
                                {{ $.Site.Params.globalFrontmatter.author }}
                            </a>
                        </div>
                    {{ end }}

                {{ end }}

                {{ with $.Site.Params.page.showDate }}
                    <div class="date" title="{{ i18n "date"| title }}">
                        <i class="bi bi-calendar3"></i>
                        <time
                            datetime="{{ $.Page.Date.Format $.Site.Params.page.dateFormat }}"
                            >{{ $.Page.Date.Format $.Site.Params.page.dateFormat }}
                        </time>
                    </div>
                {{ end }}

                {{ with $.Site.Params.page.showTimeToRead }}
                    <div
                        class="readtime"
                        title="{{ i18n "time_to_read" | title }}">
                        <i class="bi bi-clock"></i>
                        {{ i18n "min_to_read" $.Page.ReadingTime }}
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="article-meta">
            {{ with .Params.categories }}
                <div class="categories">
                    <i
                        class="bi bi-bookmarks"
                        title="{{ i18n "category" 2  | title }}"></i>
                    {{ range . }}
                        <a
                            href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"
                            class="cat-btn">
                            {{ . }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}

            {{ with .Params.tags }}
                <div class="tags">
                    <i
                        class="bi bi-tags"
                        title="{{ i18n "tag" 2 | title }}"></i>
                    {{ range . }}
                        <a
                            href="{{ "tags" | relLangURL }}/{{ . | urlize }}/"
                            class="tag-btn">
                            {{ . }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}

            {{ with  $.Site.Params.page.showBreadcrumb }}
                <div class="breadcumb">
                    <i class="bi bi-folder"></i>
                    {{ partial "module/breadcrumb" $ }}
                </div>
            {{ end }}

            {{ if .IsTranslated }}
                <div class="translation">
                    <i
                        class="bi bi-globe2"
                        title="{{ i18n "language" | title }}"></i>
                    {{ partial "module/page_translated" $ }}
                </div>
            {{ end }}
        </div>

        {{ if isset $.Params "includetoc" }}
            {{ if $.Params.includetoc }}
                {{ .TableOfContents }}
            {{ end }}

        {{ else if $.Site.Params.page.includeToc }}
            {{ .TableOfContents }}
        {{ end }}


        <div class="content">
            {{ if .Content }}
                {{ .Content }}
            {{ else }}
                <p class="no-content">
                    {{ i18n "empty_page" |  strings.FirstUpper }}
                </p>
            {{ end }}
        </div>
    </article>
{{ end }}
