{{ define "main_article" }}
    <article class="main">
        {{ partial "module/sidebar_btn" . }}


        <div class="title">
            <h1 class="title-header">
                {{ .Title }}
            </h1>

            <div class="author-date-readtime">
                {{ if isset $.Params "author" }}

                    {{ if or ( and ( not (isset $.Params "showAuthor") ) $.Site.Params.page.showAuthor ) $.Params "showAuthor" }}
                        <div class="author">
                            <i class="bi bi-person"></i>
                            <a
                                href="{{ "author" | absURL }}/{{ $.Params.author | urlize }}/"
                                class="cat-btn">
                                {{ $.Params.author }}
                            </a>
                        </div>
                    {{ end }}

                {{ else if isset $.Site.Params.globalFrontmatter "author" }}

                    {{ if or ( and ( not (isset $.Params "showAuthor") ) $.Site.Params.page.showAuthor ) $.Params "showAuthor" }}
                        <div class="author">
                            <i class="bi bi-person"></i>
                            <a
                                href="{{ "author" | absURL }}/{{ $.Site.Params.globalFrontmatter.author | urlize }}/"
                                class="cat-btn">
                                {{ $.Site.Params.globalFrontmatter.author }}
                            </a>
                        </div>
                    {{ end }}

                {{ end }}

                {{ with $.Site.Params.page.showDate }}
                    <div class="date">
                        <i class="bi bi-calendar3"></i>
                        <time
                            datetime="{{ $.Page.Date.Format $.Site.Params.page.dateFormat }}"
                            >{{ $.Page.Date.Format $.Site.Params.page.dateFormat }}
                        </time>
                    </div>
                {{ end }}

                {{ with $.Site.Params.page.showTimeToRead }}
                    <div class="readtime">
                        <i class="bi bi-clock"></i>
                        {{ $.Page.ReadingTime }}
                        min{{ cond (eq $.Page.ReadingTime 1) "" "s" }} to read
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="article-meta">
            {{ with .Params.categories }}
                <div class="categories">
                    <i class="bi bi-bookmarks" title="Categories"></i>
                    {{ range . }}
                        <a
                            href="{{ "categories" | absURL }}/{{ . | urlize }}/"
                            class="cat-btn">
                            {{ . }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}

            {{ with .Params.tags }}
                <div class="tags">
                    <i class="bi bi-tags" title="Tags"></i>
                    {{ range . }}
                        <a
                            href="{{ "tags" | absURL }}/{{ . | urlize }}/"
                            class="tag-btn">
                            {{ . }}
                        </a>
                    {{ end }}
                </div>
            {{ end }}

            {{ with  $.Site.Params.page.showBreadcrumb }}
                <div class="breadcumb">
                    <i class="bi bi-folder"></i>
                    {{ partial "module/breadcrumb" $ }}
                </div>
            {{ end }}
        </div>

        {{ if isset $.Params "includeToc" }}
            {{ if $.Params.includeToc }}
                {{ .TableOfContents }}
            {{ end }}

        {{ else if $.Site.Params.page.includeToc }}
            {{ .TableOfContents }}
        {{ end }}


        <div class="content">
            {{ if .Content }}
                {{ .Content }}
            {{ else }}
                <p class="no-content">No content on this page.</p>
            {{ end }}
        </div>
    </article>
{{ end }}
