<article class="main">
    {{ partial "module/sidebar_btn" . }}


    <div class="title">
        <h1 class="title-header">
            {{ .Title }}
        </h1>

        <div class="author-date-readtime">
            {{ if isset .Page "author" }}

                {{ if or ( and ( not isset .Page "showAuthor" ) .params.page.showAuthor ) .Page "showAuthor" }}
                    <div class="author">
                        <i class="bi bi-person"></i>
                        <a
                            href="{{ "author" | absURL }}/{{ .Page.author | urlize }}/"
                            class="cat-btn">
                            {{ .Page.author }}
                        </a>
                    </div>
                {{ end }}

            {{ else if isset .params.globalFrontmatter "author" }}

                {{ if or ( and ( not isset .Page "showAuthor" ) .params.page.showAuthor ) .Page "showAuthor" }}
                    <div class="author">
                        <i class="bi bi-person"></i>
                        <a
                            href="{{ "author" | absURL }}/{{ .params.globalFrontmatter.author | urlize }}/"
                            class="cat-btn">
                            {{ .params.globalFrontmatter.author }}
                        </a>
                    </div>
                {{ end }}

            {{ end }}


            <div class="date">
                <i class="bi bi-calendar3"></i>
                <time datetime="{{ .Date.Format " 2006.01.02" }}"
                    >{{ .Date.Format "2006.01.02" }}</time
                >
            </div>
            <div class="readtime">
                <i class="bi bi-clock"></i>
                {{ .Page.ReadingTime }}
                min{{ cond (eq .Page.ReadingTime 1) "" "s" }} to read
            </div>
        </div>
    </div>

    <div class="article-meta">
        {{ with .Params.categories }}
            <div class="categories">
                <i class="bi bi-bookmarks" title="Categories"></i>
                {{ range . }}
                    <a
                        href="{{ "categories" | absURL }}/{{ . | urlize }}/"
                        class="cat-btn">
                        {{ . }}
                    </a>
                {{ end }}
            </div>
        {{ end }}

        {{ with .Params.tags }}
            <div class="tags">
                <i class="bi bi-tags" title="Tags"></i>
                {{ range . }}
                    <a
                        href="{{ "tags" | absURL }}/{{ . | urlize }}/"
                        class="tag-btn">
                        {{ . }}
                    </a>
                {{ end }}
            </div>
        {{ end }}


        <div class="breadcumb">
            <i class="bi bi-folder"></i>
            {{ partial "module/breadcrumb" . }}
        </div>
    </div>

    {{ if .Params.includeToc }}
        {{ .TableOfContents }}
    {{ end }}


    <div class="content">
        {{ if .Content }}
            {{ .Content }}
        {{ else }}
            <p class="no-content">No content on this page.</p>
        {{ end }}
    </div>
</article>
