<header class="header">
    <div class="header_left">
        {{ with $.Site.Params.header.logo.imgUrl }}
            {{ if $.Site.Params.header.logo.logoLink }}
                <a href="{{ $.Site.Params.header.logo.logoLink }}">
                    <img class="logo" src="{{ "{{ . }}" | relLangURL }}"
                    alt="logo" />
                </a>
            {{ else }}
                <a href="/">
                    <img class="logo" src="{{ "{{ . }}" | relLangURL }}"
                    alt="logo" />
                </a>
            {{ end }}

        {{ end }}
    </div>

    <div class="header_middle">
        {{ if .IsHome }}
            {{ $.Site.Params.header.title }}
        {{ else }}
            {{ $.Page.Title }} -
            {{ $.Site.Params.header.title }}
        {{ end }}
    </div>
</header>
